kodusorClient/kodusorClient/Service References/kodusorServis/KodusorServis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/kodusorServis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/kodusorServis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoruListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoruListesi" nillable="true" type="tns:SoruListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoruListesi" nillable="true" type="tns:ArrayOfSoruListesi" />
  <xs:complexType name="SoruListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BegeniSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="CevapSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Etiketler" nillable="true" type="tns:ArrayOfEtiketListesi" />
      <xs:element minOccurs="0" name="Icerik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kullanici" nillable="true" type="tns:kullaniciListesi" />
      <xs:element minOccurs="0" name="OnayCevapID" type="xs:int" />
      <xs:element minOccurs="0" name="SoruID" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoruListesi" nillable="true" type="tns:SoruListesi" />
  <xs:complexType name="ArrayOfEtiketListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EtiketListesi" nillable="true" type="tns:EtiketListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEtiketListesi" nillable="true" type="tns:ArrayOfEtiketListesi" />
  <xs:complexType name="EtiketListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="EtiketAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtiketID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EtiketListesi" nillable="true" type="tns:EtiketListesi" />
  <xs:complexType name="kullaniciListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DogumTarihi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hakkimda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciID" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilFoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyadi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kullaniciListesi" nillable="true" type="tns:kullaniciListesi" />
  <xs:complexType name="ArrayOfkullaniciListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kullaniciListesi" nillable="true" type="tns:kullaniciListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkullaniciListesi" nillable="true" type="tns:ArrayOfkullaniciListesi" />
</xs:schema>