kodusorClient/kodusorClient/Service References/kodusorServis/KodusorServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kodusorServis.Models" />
  <xs:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/kodusorServis" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="kullanici" nillable="true" type="q1:Kullanicilar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KayitOlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicilariListele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicilariListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="KullanicilariListeleResult" nillable="true" type="q2:ArrayOfkullaniciListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>