kodusorClient/kodusorClient/Service References/kodusorServis/KodusorServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kodusorServis.Models" />
  <xs:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/kodusorServis" />
  <xs:element name="KayitOl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="kullanici" nillable="true" type="q1:Kullanicilar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KayitOlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SorulariListele">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SorulariListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="SorulariListeleResult" nillable="true" type="q2:ArrayOfSoruListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GirisYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GirisYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GirisYapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciCevapları">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciCevaplarıResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="KullaniciCevaplarıResult" nillable="true" type="q3:ArrayOfCevapListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriSorular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriSorularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="FavoriSorularResult" nillable="true" type="q4:ArrayOfSoruListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriCevaplar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriCevaplarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="FavoriCevaplarResult" nillable="true" type="q5:ArrayOfCevapListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicininEtiketleri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicininEtiketleriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="KullanicininEtiketleriResult" nillable="true" type="q6:ArrayOfEtiketListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParolaDegistir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
        <xs:element minOccurs="0" name="parola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParolaDegistirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParolaDegistirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciBilgileriniGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="KullaniciBilgileriniGetirResult" nillable="true" type="q7:kullaniciListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="soru" nillable="true" type="q8:Sorular" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="etiketler" nillable="true" type="q9:ArrayOfEtiketler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="cevap" nillable="true" type="q10:Cevaplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="yorum" nillable="true" type="q11:Yorum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YorumEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavoriyeEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="favoriSorular" nillable="true" type="q12:FavoriSorular" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyuFavoriyeEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruyuFavoriyeEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavoriyeEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/kodusorServis.Models" minOccurs="0" name="favoriCevaplar" nillable="true" type="q13:FavoriCevaplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabiFavoriyeEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabiFavoriyeEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabıOnayla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruID" type="xs:int" />
        <xs:element minOccurs="0" name="cevapID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabıOnaylaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabıOnaylaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="SoruGetirResult" nillable="true" type="q14:SoruListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBegen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBegenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruBegenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBegenme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruBegenmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruBegenmeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBegen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBegenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapBegenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBegenme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapBegenmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevapBegenmeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baslik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/kodusorServis" minOccurs="0" name="SoruAraResult" nillable="true" type="q15:ArrayOfSoruListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>