kodusorClient/kodusorClient/Service References/kodusorServis/KodusorServis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/kodusorServis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/kodusorServis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoruListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoruListesi" nillable="true" type="tns:SoruListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoruListesi" nillable="true" type="tns:ArrayOfSoruListesi" />
  <xs:complexType name="SoruListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BegeniSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="CevapSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Cevaplar" nillable="true" type="tns:ArrayOfCevapListesi" />
      <xs:element minOccurs="0" name="Etiketler" nillable="true" type="tns:ArrayOfEtiketListesi" />
      <xs:element minOccurs="0" name="Icerik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kullanici" nillable="true" type="tns:kullaniciListesi" />
      <xs:element minOccurs="0" name="OnayCevapID" type="xs:int" />
      <xs:element minOccurs="0" name="SoruID" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoruListesi" nillable="true" type="tns:SoruListesi" />
  <xs:complexType name="ArrayOfCevapListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CevapListesi" nillable="true" type="tns:CevapListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCevapListesi" nillable="true" type="tns:ArrayOfCevapListesi" />
  <xs:complexType name="CevapListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="BegeniSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Cevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CevapID" type="xs:int" />
      <xs:element minOccurs="0" name="Kullanici" nillable="true" type="tns:kullaniciListesi" />
      <xs:element minOccurs="0" name="KullaniciID" type="xs:int" />
      <xs:element minOccurs="0" name="SoruID" type="xs:int" />
      <xs:element minOccurs="0" name="Sorular" nillable="true" type="tns:SoruListesi" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YorumListesi" nillable="true" type="tns:ArrayOfYorumListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CevapListesi" nillable="true" type="tns:CevapListesi" />
  <xs:complexType name="kullaniciListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ceptel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DogumTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Github" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hakkimda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciID" type="xs:int" />
      <xs:element minOccurs="0" name="Linkedin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilFoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyadi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kullaniciListesi" nillable="true" type="tns:kullaniciListesi" />
  <xs:complexType name="ArrayOfYorumListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YorumListesi" nillable="true" type="tns:YorumListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYorumListesi" nillable="true" type="tns:ArrayOfYorumListesi" />
  <xs:complexType name="YorumListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kullanici" nillable="true" type="tns:kullaniciListesi" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Yorum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YorumID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YorumListesi" nillable="true" type="tns:YorumListesi" />
  <xs:complexType name="ArrayOfEtiketListesi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EtiketListesi" nillable="true" type="tns:EtiketListesi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEtiketListesi" nillable="true" type="tns:ArrayOfEtiketListesi" />
  <xs:complexType name="EtiketListesi">
    <xs:sequence>
      <xs:element minOccurs="0" name="EtiketAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtiketID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EtiketListesi" nillable="true" type="tns:EtiketListesi" />
</xs:schema>