kodusorClient/kodusorClient/Service References/kodusorServis/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kodusorServis.Models" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/kodusorServis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKodusorServis_KayitOl_InputMessage">
    <wsdl:part name="parameters" element="tns:KayitOl" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KayitOl_OutputMessage">
    <wsdl:part name="parameters" element="tns:KayitOlResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SorulariListele_InputMessage">
    <wsdl:part name="parameters" element="tns:SorulariListele" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SorulariListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorulariListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_GirisYap_InputMessage">
    <wsdl:part name="parameters" element="tns:GirisYap" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_GirisYap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GirisYapResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullaniciCevapları_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciCevapları" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullaniciCevapları_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciCevaplarıResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_FavoriSorular_InputMessage">
    <wsdl:part name="parameters" element="tns:FavoriSorular" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_FavoriSorular_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriSorularResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_FavoriCevaplar_InputMessage">
    <wsdl:part name="parameters" element="tns:FavoriCevaplar" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_FavoriCevaplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriCevaplarResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullanicininEtiketleri_InputMessage">
    <wsdl:part name="parameters" element="tns:KullanicininEtiketleri" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullanicininEtiketleri_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullanicininEtiketleriResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_ParolaDegistir_InputMessage">
    <wsdl:part name="parameters" element="tns:ParolaDegistir" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_ParolaDegistir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParolaDegistirResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullaniciBilgileriniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetir" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullaniciBilgileriniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciBilgileriniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkle" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapEkle" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_YorumEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:YorumEkle" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_YorumEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:YorumEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruyuFavoriyeEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavoriyeEkle" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruyuFavoriyeEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruyuFavoriyeEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevabiFavoriyeEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavoriyeEkle" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevabiFavoriyeEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabiFavoriyeEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevabıOnayla_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabıOnayla" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevabıOnayla_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabıOnaylaResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruGetir" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruBegen_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruBegen" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruBegen_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruBegenResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruBegenme_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruBegenme" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruBegenme_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruBegenmeResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapBegen_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapBegen" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapBegen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapBegenResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapBegenme_InputMessage">
    <wsdl:part name="parameters" element="tns:CevapBegenme" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_CevapBegenme_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevapBegenmeResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruAra_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruAra" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_SoruAra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruAraResponse" />
  </wsdl:message>
  <wsdl:portType name="IKodusorServis">
    <wsdl:operation name="KayitOl">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KayitOl" message="tns:IKodusorServis_KayitOl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KayitOlResponse" message="tns:IKodusorServis_KayitOl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SorulariListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SorulariListele" message="tns:IKodusorServis_SorulariListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SorulariListeleResponse" message="tns:IKodusorServis_SorulariListele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/GirisYap" message="tns:IKodusorServis_GirisYap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/GirisYapResponse" message="tns:IKodusorServis_GirisYap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciCevapları">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KullaniciCevapları" message="tns:IKodusorServis_KullaniciCevapları_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KullaniciCevaplarıResponse" message="tns:IKodusorServis_KullaniciCevapları_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavoriSorular">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/FavoriSorular" message="tns:IKodusorServis_FavoriSorular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/FavoriSorularResponse" message="tns:IKodusorServis_FavoriSorular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavoriCevaplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/FavoriCevaplar" message="tns:IKodusorServis_FavoriCevaplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/FavoriCevaplarResponse" message="tns:IKodusorServis_FavoriCevaplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullanicininEtiketleri">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KullanicininEtiketleri" message="tns:IKodusorServis_KullanicininEtiketleri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KullanicininEtiketleriResponse" message="tns:IKodusorServis_KullanicininEtiketleri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParolaDegistir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/ParolaDegistir" message="tns:IKodusorServis_ParolaDegistir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/ParolaDegistirResponse" message="tns:IKodusorServis_ParolaDegistir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KullaniciBilgileriniGetir" message="tns:IKodusorServis_KullaniciBilgileriniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KullaniciBilgileriniGetirResponse" message="tns:IKodusorServis_KullaniciBilgileriniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruEkle" message="tns:IKodusorServis_SoruEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruEkleResponse" message="tns:IKodusorServis_SoruEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/CevapEkle" message="tns:IKodusorServis_CevapEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/CevapEkleResponse" message="tns:IKodusorServis_CevapEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YorumEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/YorumEkle" message="tns:IKodusorServis_YorumEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/YorumEkleResponse" message="tns:IKodusorServis_YorumEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavoriyeEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruyuFavoriyeEkle" message="tns:IKodusorServis_SoruyuFavoriyeEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruyuFavoriyeEkleResponse" message="tns:IKodusorServis_SoruyuFavoriyeEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabiFavoriyeEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/CevabiFavoriyeEkle" message="tns:IKodusorServis_CevabiFavoriyeEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/CevabiFavoriyeEkleResponse" message="tns:IKodusorServis_CevabiFavoriyeEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabıOnayla">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/CevabıOnayla" message="tns:IKodusorServis_CevabıOnayla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/CevabıOnaylaResponse" message="tns:IKodusorServis_CevabıOnayla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruGetir" message="tns:IKodusorServis_SoruGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruGetirResponse" message="tns:IKodusorServis_SoruGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruBegen">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruBegen" message="tns:IKodusorServis_SoruBegen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruBegenResponse" message="tns:IKodusorServis_SoruBegen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruBegenme">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruBegenme" message="tns:IKodusorServis_SoruBegenme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruBegenmeResponse" message="tns:IKodusorServis_SoruBegenme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapBegen">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/CevapBegen" message="tns:IKodusorServis_CevapBegen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/CevapBegenResponse" message="tns:IKodusorServis_CevapBegen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevapBegenme">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/CevapBegenme" message="tns:IKodusorServis_CevapBegenme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/CevapBegenmeResponse" message="tns:IKodusorServis_CevapBegenme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/SoruAra" message="tns:IKodusorServis_SoruAra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/SoruAraResponse" message="tns:IKodusorServis_SoruAra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKodusorServis" type="tns:IKodusorServis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KayitOl">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KayitOl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SorulariListele">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SorulariListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/GirisYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciCevapları">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KullaniciCevapları" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavoriSorular">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/FavoriSorular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavoriCevaplar">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/FavoriCevaplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullanicininEtiketleri">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KullanicininEtiketleri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParolaDegistir">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/ParolaDegistir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciBilgileriniGetir">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KullaniciBilgileriniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapEkle">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/CevapEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YorumEkle">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/YorumEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruyuFavoriyeEkle">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruyuFavoriyeEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabiFavoriyeEkle">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/CevabiFavoriyeEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabıOnayla">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/CevabıOnayla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruGetir">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruBegen">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruBegen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruBegenme">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruBegenme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapBegen">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/CevapBegen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevapBegenme">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/CevapBegenme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/SoruAra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IKodusorServis" binding="tns:BasicHttpBinding_IKodusorServis">
      <soap:address location="http://servis.kodusor.com/KodusorServis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>