kodusorClient/kodusorClient/Service References/kodusorServis/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kodusorServis.Models" />
      <xsd:import schemaLocation="http://servis.kodusor.com/KodusorServis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/kodusorServis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKodusorServis_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KayitOl_InputMessage">
    <wsdl:part name="parameters" element="tns:KayitOl" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KayitOl_OutputMessage">
    <wsdl:part name="parameters" element="tns:KayitOlResponse" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullanicilariListele_InputMessage">
    <wsdl:part name="parameters" element="tns:KullanicilariListele" />
  </wsdl:message>
  <wsdl:message name="IKodusorServis_KullanicilariListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullanicilariListeleResponse" />
  </wsdl:message>
  <wsdl:portType name="IKodusorServis">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/GetData" message="tns:IKodusorServis_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/GetDataResponse" message="tns:IKodusorServis_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KayitOl">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KayitOl" message="tns:IKodusorServis_KayitOl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KayitOlResponse" message="tns:IKodusorServis_KayitOl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullanicilariListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IKodusorServis/KullanicilariListele" message="tns:IKodusorServis_KullanicilariListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKodusorServis/KullanicilariListeleResponse" message="tns:IKodusorServis_KullanicilariListele_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKodusorServis" type="tns:IKodusorServis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KayitOl">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KayitOl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullanicilariListele">
      <soap:operation soapAction="http://tempuri.org/IKodusorServis/KullanicilariListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IKodusorServis" binding="tns:BasicHttpBinding_IKodusorServis">
      <soap:address location="http://servis.kodusor.com/KodusorServis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>